.dashboard {  
  display: grid;
  grid-template-columns: 18rem auto;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidenav main";
}

.sidenav {
  grid-area: sidenav;
}

.main {
  grid-area: main;
}

.gutter {
  margin: 10px 10px;
}

.form-row {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}
